# ── Movie Booking DB ────────────────────────────────────────────────────────
MOVIE_BOOKING_APP_DB_USER=
MOVIE_BOOKING_APP_DB_PASSWORD=
MOVIE_BOOKING_APP_DB_NAME=

# ──  ────────────────────────────────────────────────────────


