# ── Movie Booking DB ────────────────────────────────────────────────────────
MOVIE_BOOKING_APP_DB_ROOT_PASSWORD=rootpassword
MOVIE_BOOKING_APP_DB_USER=moviebooking
MOVIE_BOOKING_APP_DB_PASSWORD=moviebooking
MOVIE_BOOKING_APP_DB_NAME=moviebookingapp
MOVIE_BOOKING_APP_DB_PORT=3307
MOVIE_BOOKING_APP_DB_URL=jdbc:mysql://localhost:3307/moviebookingapp

# ──  ────────────────────────────────────────────────────────


